@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #4070f4;
}
div {
  background-color: #fff;
  width: 80%;
  border-radius: 20px;
  padding: 2%;
}
h1 {
  font-size: 78px;
  font-weight: 300;
}

p {
  font-size: 28px;
}

button {
  height: 50px;
  width: 20%;
  outline: none;
  padding: 0 15px;
  font-size: 25px;
  font-weight: 500;
  color: #333;
  border: 1.5px solid #c7bebe;
  border-bottom-width: 2.5px;
  border-radius: 6px;
  transition: all 0.3s ease;
}
button {
  border-color: #4070f4;
}
button {
  color: #fff;
  letter-spacing: 1px;
  border: none;
  background: #4070f4;
  cursor: pointer;
}
button:hover {
  background: #0e4bf1;
}
